.beer-brands-carousel {
    background-color: #ffc123;

}

.beer-brands-carousel__images-container {
    display: flex;
    max-width: 90%;
}

.beer-brands-carousel__images {
    display: flex;
    padding: 30px 0;
    justify-content: center;
    align-items: center;
}

.beer-brands-carousel__image-block {
    width: 235px;
    display: flex;
    justify-content: center;
    margin: 0 15px; 
    background: rgba(17, 17, 17, 0.05);
    object-fit: contain;
    object-position: 50% 50%;
    align-items: center;
}

.beer-brands-carousel__image {
    display: inline-block;
    object-fit: contain;
    width: 100%;
    /* max-width: 179px; */
    padding: 15px;
}

.beer-brands-carousel__images-button-prev {
    fill:black;
    width: 20px;
    z-index: 1;
}

.beer-brands-carousel__images-button-next {
    fill:black;
    width: 20px;
    z-index: 1;
}

/* .beer-brands-carousel__images-button {
    display: inline-block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: #000;
} */