.beer-brands-carousel {
    background-color: #ffc123;
    min-width: 330px;
}

.beer-brands-carousel__images-container {
    display: flex;
    max-width: 80%;
}

.beer-brands-carousel__images {
    display: flex;
    padding: 15px 10px;
    justify-content: center;
    align-items: center;
}

.beer-brands-carousel__image-block {
    width: 310px;
    display: flex;
    justify-content: center;
    margin: 15px -11px; 
    background: rgba(17, 17, 17, 0.05);
    object-fit: contain;
    object-position: 50% 50%;
    align-items: center;
}

.beer-brands-carousel__image {
    object-fit: contain;
    width: 100%;
    height: 60px;
    margin: 35px 0;
}

.beer-brands-carousel__images-button-prev {
    width: 20px;
}

.beer-brands-carousel__images-button-next {
    width: 20px;
}

.beer-brands-carousel__images-button {
    display: inline-block;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background: #000;
    opacity: 0.85;
    border: none;
}

.beer-brands-carousel_arrow {
    width: 15px;
    height: 19px;
    vertical-align: middle;
    opacity: 0.25;
}

@media (min-width: 478px) {
    .beer-brands-carousel__images {
        padding: 10px 10px;
    }
    
    .beer-brands-carousel__image-block {
        margin: 15px 13px; 
    }

    .beer-brands-carousel__images-container {
        max-width: 90%;
        margin: 0 -24px;
    }

    .beer-brands-carousel__image {
        object-fit: contain;
        width: 100%;
        height: 33px;
        margin: 35px 0;
    }
}

@media (min-width: 768px) {
    .beer-brands-carousel__images-button {
        width: 30px;
        height: 30px;
    }

    .beer-brands-carousel__images-container {
        margin: 0 -28px;
    }
}

@media (min-width: 1200px) {
    .beer-brands-carousel__images {
        padding: 14px 10px;
    }
    .beer-brands-carousel__images-button {
        display: inline-block;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        background: content-box;
        z-index: 1;
        opacity: 0.85;
        border: none;
    }

    .beer-brands-carousel__images-button-prev {
        transform: translate(-100%);
    }
    
    .beer-brands-carousel__images-button-next {
        transform: translate(100%);
    }

    .beer-brands-carousel__images-container {
        max-width: 92%;
    }

    .beer-brands-carousel_arrow {
        width: 25px;
        height: 25px;
        opacity: 1;
    }
}