.video-item video {
    display: block;
    margin-left: auto;
    margin-right: auto; 	
}

/* Header blog */
.blog-header h3 {
	text-align: center;
}

.blog-header h2 {
	text-align: center;
}

.blog-header h4 {
	text-align: center;
}

/* .blog-container {
	display: flex;
	justify-content: space-between; 
} */

/* .blog-item-outer {
	margin: 20px;
} */

.blog-item-post {
	margin: 20px;
}

.blog-item-post h3 {
	font-size: 28px;
    color: var(--title-color);
	font-family: "Teko", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
}

.blog-item-post h5 {
	color: var(--grand-text-color);
}

.blog-item-post p {
	color: var(--blog-text);
	font-family: "Open Sans", sans-serif;
    overflow: hidden;
}

.blog-item-post button {
	padding: 10px;
	border: 1px solid transparent;
	border-radius: 5px;
	outline: none;
    margin: 25px auto;
}

/* .blog-text h3 {
	font-size: 28px;
    color: var(--title-color);
	font-family: "Teko", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
}

.blog-text h5 {
	color: var(--grand-text-color);
}

.blog-text p {
	color: var(--blog-text);
	font-family: "Open Sans", sans-serif;
} */

/* @media (max-width: 1200px){ 
    .blog-container { 
        flex-wrap: wrap; 
    }
} */

@media (min-width: 600px) {
    .blog-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 5px;
    }
}


@media (min-width: 900px) {
    .blog-list {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width: 1200px) {
    .container {
    margin: auto;
    }
}