.video-item video {
    display: block;
    margin-left: auto;
    margin-right: auto; 	
}

/* Header blog */
.blog-header h3 {
	text-align: center;
}

.blog-header h2 {
	text-align: center;
}

.blog-header h4 {
	text-align: center;
}

.blog-container {
	display: flex;
	justify-content: space-between;
}

.blog-item-outer {
	margin: 20px;
}

.blog-text h3 {
	font-size: 28px;
    color: var(--title-color);
	font-family: "Teko", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
}

.blog-text h5 {
	color: var(--grand-text-color);
}

.blog-text p {
	color: var(--blog-text);
	font-family: "Open Sans", sans-serif;
}

@media (max-width: 1200px){ 
    .blog-container { 
        flex-wrap: wrap; 
    }
}