.botteled-beer {
    padding-top: 105px;
}

.ipa-title, .lager-title, .bitter-title {
    font-size: 46px;
    font-family: "Teko", sans-serif;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.ipa-description, .lager-description, .bitter-description {
    color: var(--carousel-description);
    font-size: 17px;
    font-family: "Open Sans", sans-serif;
    margin-bottom: 35px;
}

.ipa-generalinfo, .lager-generalinfo, .bitter-generalinfo {
    font-size: 17px;
    font-family: "Open Sans", sans-serif;
}

.ipa-alkohol, .lager-alkohol, .bitter-alkohol {
    margin-bottom: 40px;
}

.botteled-beer__text { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    height: 153.32px;
    text-align: center;
    margin-bottom: 65px;
} 

.botteled-beer__carousel {
    display: flex;
    justify-content: center;
    width: 1200px;
    overflow: hidden;
}

.botteled-beer__carousel_ipa, .botteled-beer__carousel_lager, .botteled-beer__carousel_bitter {
    display: flex;
    width: 600px;
}


.lager__text, .ipa__text, .bitter__text  {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.carousel{
    display: flex;
    justify-content: center;  
} 

.carousel-button {
    background: none;
    border: none;
    color: #ffc123; 
    font-size: 24px; 
    cursor: pointer;
  }
  
  .carousel-button:hover {
    color: #a77903 ;
  }

  @media (min-width: 375px) {
    .botteled-beer__carousel {
       padding: 0 5px;
    }
 }

  @media (min-width: 425px) {
   .botteled-beer__carousel {
      padding: 0 8px;
   }
}


@media (min-width: 767px) {
   .botteled-beer__carousel {
      padding: 0 14px;
   }
}

@media (min-width: 992px) {
   .botteled-beer__carousel{
      padding: 0 17px;
      overflow: hidden;
   }
}

