.botteled-beer {
    padding-top: 105px;
    border: thick double #32a1ce;
}

.ipa-title, .lager-title, .bitter-title {
    font-size: 46px;
    font-family: "Teko", sans-serif;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.ipa-description, .lager-description, .bitter-description {
    color: var(--carousel-description);
    font-size: 17px;
    font-family: "Open Sans", sans-serif;
    margin-bottom: 35px;
}

.ipa-generalinfo, .lager-generalinfo, .bitter-generalinfo {
    font-size: 17px;
    font-family: "Open Sans", sans-serif;
}

.ipa-alkohol, .lager-alkohol, .bitter-alkohol {
    margin-bottom: 40px;
}

.botteled-beer__text {
    border: thick double red;   
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    height: 153.32px;
    text-align: center;
    margin-bottom: 65px;
} 

.botteled-beer__carousel {
    display: flex;
    border: thick double green;
    justify-content: center;
    width: 1200px;
    overflow: hidden;
}

.botteled-beer__carousel_ipa, .botteled-beer__carousel_lager, .botteled-beer__carousel_bitter {
    border: thick double yellow;
    display: flex;
    width: 600px;
}

.botteled-beer__carousel_lager {
    overflow: hidden;
}

.lager__text, .ipa__text, .bitter__text  {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.carousel{
    
    display: flex;
    justify-content: center;  
} 


