@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&family=Shadows+Into+Light&family=Teko:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background-color: #111;
    --button-color: #ffc123;
    --dark-button-color: #444343;
    --button-hover-color: #e9ae17;
    --title-color: #fff;
    --subtitle-color: #fcfaf8;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}
