@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&family=Shadows+Into+Light&family=Teko:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 1px solid red; */
}

:root {
    --main-color: #111;
    --button-color: #ffc123;
    --grand-text-color: #ffc123;
    --dark-button-color: #444343;
    --button-hover-color: #e9ae17;
    --title-color: #fff;
    --subtitle-color: #cccccc;
    --blog-text: #9d9d9d;
    --border-color-light: #fff;
    --carousel-description: rgb(157,157,157);
    --default-color: #2a2a2a;
    --contacts-links-color: rgb(42, 42, 42);
    --offer-strike-color: #53535373;
    --in-stock-color: #228b22;
    --nav-pages-color: #474747;
    --button-blue-color: #1e90ff;
    --button-black-color: #000;
    --button-colorfull-color: #f4a460;
    --button-after-color: #006400;
    --banner-h-color: #fff;
    --banner-p-color: #3b3b3b;
    --background-services-color: #faf0e6;
    --input-color: #f3e8e8f1;
    --light-text-color: #000;
    --header-contacts-light: rgb(242, 242, 242);
    --offer-jbl-color: #eb5112;
    --offer-jbl-strike-color: #797878;
    --out-stock-color: #b22222;

    color: var(--title-color);
    background-image: url("../images/main-background.png");
    background-size: 100px;
    scroll-behavior: smooth;
}

h1 {
    font-size: 64px;
    font-family: "Teko", sans-serif;
}

h2 {
    font-size: 40px;
    font-family: "Teko", sans-serif;
    line-height: 40px;
    text-transform: uppercase;
}

h3 {
    color: var(--button-color);
    font-size: 18px;
    font-family: "Shadows Into Light", sans-serif;
}

h4 {
    color: var(--subtitle-color);
    font-size: 17px;
    font-family: "Open Sans", sans-serif;
}

h5 {
    font-size: 26px;
    font-family: "Teko", sans-serif;
    text-transform: uppercase;
}

h1, h2, h3, h4, h5 {
    font-weight: 400;
}

a {
    text-decoration: none;
}

.main-button {
    display: inline-block;
    color: var(--main-color);
    background-color: var(--button-color);

    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;

    padding: 15px 30px;
}

.main-button:hover {
    background-color: var(--button-hover-color);
}

.underline {
    height: 1px;
    flex: 1 1 10px;
    background: var(--border-color-light);
    opacity: .2;
    margin: auto 3px 10px 3px;
}

.container {
    max-width: 100%;
    margin: 0 20px;
}


@media (min-width: 425px) {
    .container {
        margin: 0 25px;
    }
}

@media (min-width: 600px) {
    .container {
        margin: 0 36px;
    }
}

@media (min-width: 767px){
    h1 {
        font-size: 95px;
    }
    
    h2 {
        font-size: 51px;
        line-height: 48px;
    }
    
    h3 {
        font-size: 21px;
    }
    
    h4 {
        font-size: 18px;
    }
    
    h5 {
        font-size: 32px;
    }

    .main-button {
        font-size: 13px;
        padding: 15px 36px;
    }

    .container {
        margin: 0 42px;
    }

    .underline {
        margin-bottom: 12px;
    }
}

@media (min-width: 992px) {
    h1 {
        font-size: 128px;
    }
    
    h2 {
        font-size: 62px;
        line-height: 60px;
    }
    
    h3 {
        font-size: 28px;
    }

    h4 {
        font-size: 19px;
    }
    
    h5 {
        font-size: 38px;
    }

    .container {
        margin: 50px;
    }

    .underline {
        margin-bottom: 14px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1060px;
        margin: auto;
    }
}