.introductory-block__text {
    color: var(--main-color);
    background-image: url("../images/background-menu.png");

    background-position: center;
    background-size: cover;

    text-align: center;
    padding: 30px 0 30px 0;
}

.initial-text {
    text-align: center;
    margin-top: 110px;
}


.food-menu .initial-text {
    margin-top: 60px;
}

.initial-text__text {
    margin-top: 12px;
    margin-bottom: 50px;
}

.collection {
    display: flex;
    justify-content: center;
}

.category {
    width: 485px;
    margin-right: 50px;
}

.category:last-child {
    margin-right: 0px;
}

.category__title {
    font-size: 38px;
    color: var(--button-color);
    font-family: "Teko", sans-serif;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.category__main-part {
    display: flex;
    justify-content: space-between;
}

.category__item__name {
    font-size: 38px;
    font-family: "Teko", sans-serif;
    text-transform: uppercase;
}

.category__item__price {
    font-size: 38px;
    color: var(--button-color);
    font-family: "Teko", sans-serif;
    text-transform: uppercase;
}

.category__item__text {
    color: #9d9d9d;
    font-size: 17px;
    font-family: "Open Sans", sans-serif;
    margin-bottom: 25px;
}

.main-image {
    display: block;
    width: 1050px;
    height: 520px;

    object-fit:cover;
    margin: auto;
    margin-top: 55px;
}

@media (max-width: 1600px) {
    .collection {
        flex-wrap: wrap;
        justify-content: center;
    }

    .category:nth-child(2) {
        margin-right: 0px;
    }

    .category:last-child {
        margin-top: 36px;
    }
}

@media (max-width: 1200px) {
    .main-image {
        width: 100%;
        height: 480px;

        padding-right: 36px;
        padding-left: 36px;
    }
}

@media (max-width: 1060px) {
    .initial-text__text{
        margin-right: 20px;
        margin-left: 20px;
    }

    .category {
        width: 100%;
        margin-right: 0px;
        padding-right: 45px;
        padding-left: 45px;
    }

    .category:nth-child(2) {
        margin-top: 36px;
    }
}

@media (max-width: 750px) {
    .menu__item {
        display: none;
    }

    .introductory-block__text {
        font-size: 40px;
    }

    .initial-text {
        margin-top: 60px;
    }

    .initial-text__subtitle {
        font-size: 18px;
    }

    .initial-text__title {
        font-size: 40px;
    }

    .initial-text__text {
        font-size: 17px;
        margin-top: 7px;
    }

    .category__title {
        font-size: 26px;
    }

    .category__item__name {
        font-size: 26px;
    }

    .category__item__price {
        font-size: 26px;
    }

    .main-image {
        height: 360px;
    }
}

@media (max-width: 750px) {
    .main-image {
        height: 250px;
    }
}

@media (max-width: 425px) {
    .main-image {
        height: 180px;
    }
}