.secondpage__container {
    max-width: 100%;
    margin: 0 20px;
}


.menu__title,
.menu__subtitle,
.description {
    text-align: center;
    }

.menu__title {
    margin: 30px;
}    
.menu__subtitle {
    margin: 30px;
}    

.bar-menu div p {
    text-align: left;
    display: block;


    }

.food-menu div p {
    text-align: center;
    display: block;
}

.happy-hour div p {
    text-align: right;
    display: block;
}

.bar-menu,
.food-menu,
.happy-hour {
    display: inline-block;
    text-align: center;
    width: 375px;
    margin: 0 0 60px 0;
    padding: 0px 36px;
}
.container_menu {
    margin: -40px 0 60px 0;
    display: flex;
    justify-content: center;
}    
.bar-menu {
    position: relative;
}
.bar_menu_wrapper {
    position: absolute;
    top: 250px;
   opacity: 0;
   transition: opacity 0.4s ease-in-out;  
}
.bar_menu_wrapper:hover {
    position: absolute;
    top: 250px;
   opacity: 100%;
   transition: opacity 0.4s ease-in-out;

}
.bar_menu h2 {
    position: absolute;
    
}

.bar-menu img {
    opacity: 1;
    transition: opacity 0.4s ease-in-out;
  }

.bar-menu:hover img {
    opacity: 0.2;
    transition: opacity 0.4s ease-in-out;
  }

.food-menu {
    position: relative;
}
.food_menu_wrapper {
    position: absolute;
    top: 250px;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;  
    
}
.food_menu_wrapper:hover {
    position: absolute;
    top: 250px;
    opacity: 100%;
    transition: opacity 0.4s ease-in-out;
 

}
.food_menu h2 {
    position: absolute;

}
.food-menu:hover img {
    opacity: 0.2;
    transition: opacity 0.4s ease-in-out;
  }


.happy-hour {
    position: relative;
}
.happy_hour_wrapper {
    position: absolute;
    top: 250px;
    opacity: 0;
    transition: opacity 0.4s ease-in-out; 
    
}
.happy_hour_wrapper:hover {
    position: absolute;
    top: 250px;
    opacity: 100%;
    transition: opacity 0.4s ease-in-out;

}
.happy_hour h2 {
    position: absolute;

}

.happy-hour:hover img {
    opacity: 0.2;
    transition: opacity 0.4s ease-in-out;
  }

  .secondpage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container_menu {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
