.special-price {
    display: flex;
    align-items: center;
    justify-content: center;
}

.special-price h2 {
    letter-spacing: normal;
}

.special-price-block__list li {
    list-style: none;
    height: auto;
}

.special-price-background-image {
    background-image: url(../images/background_friday_menu_gs.png);
    background-attachment: fixed;
}

.special-price__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 130px;
    padding-bottom: 130px;
}

.special-price-picture {
    max-width: 90%;
}

.special-price-picture__image {
    max-width: 100%;
}

.special-price-block {
    background-color: rgba(17, 17, 17, 0.76);
    margin-top: 30px;
    padding: 37px;
    justify-content: center;
    align-items: center;
}

.special-price-block__title {
    text-align: center;
}

.special-price-block__subtitle {
    color: #fff;
    text-align: center;
    margin-top: 20px;
}

.special-price-block__list-item-title {
    margin-right: 5px;
}

.special-price-block__list {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
}

.special-price-block__list-item-title-price {
    display: flex;
    justify-content: space-between;
}

.special-price-block__list-item__image-text {
    display: flex;
    margin-left: -7.5px;
    margin-right: -7.5px;
    padding-top: 7.5px;
    padding-bottom: 7.5px;
}

.special-price-block__list-item__image {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin: 10px;
}

.special-price-block__list-item__text {
    margin: 10px;
    flex: 1;
    min-width: 40%;
}

.special-price-block__list-item-title-price {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    border-image-repeat: stretch;
}

.special-price-block__list-item-price {
    font-size: 26px;
    margin-left: 5px;
    color: #ffc123;
    font-family: "Teko", sans-serif;
}

.special-price-block__list-item-description {
    font-size: 17px;
    font-family: "Open Sans", sans-serif;
    color: rgb(209, 209, 209);
}

/* Temporary */
@media (max-width: 767px) {
    .special-price h3 {
        font-size: 14px;
    }
}

@media (min-width: 768px) {
    .special-price__content {
        padding: 110px 32px;
    }

    .special-price-picture {
        max-width: 50%;
        padding-left: 15px;
        padding-right: 15px;
    }

    .special-price-picture__image {
        display: block;
        max-width: 90%;
    }

    .special-price-block {
        margin-top: 0;
        flex-basis: 50%;
        max-width: 50%;
        padding-left: 15px;
        padding-right: 15px;
    }

    .special-price-block__list {
        margin-top: 0;
    }

    .special-price-block__list-item-price {
        font-size: 32px;
    }
}

@media (min-width: 992px) {
    .special-price-block__list-item-price {
        font-size: 38px;
    }

    .special-price__content {
        padding: 130px 32px;
    }
}