.special-price {
    display: flex;
    align-items: center;
    justify-content: center;
}

.special-price-background-image {
    background-image: url(../images/background_friday_menu_gs.png);
}

.special-price__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.special-price-block {
    background-color: rgba(0, 0, 0, 0.6);
}

.special-price-block__list {
    display: flex;
    flex-direction: column;
}

.special-price-block__list-item-title-price {
    display: flex;
    justify-content: space-between;
}
/* .special-price__picture {
} */

.special-price-block__list-item__image-text {
    display: flex;
    justify-content: space-between;
    min-width: 100%;
}

/* .special-price-block__list-item {
    display: flex;
    justify-content: space-between;
} */

.special-price-block__subtitle {
    color: #fff;
}

.special-price-block {
    justify-content: center;
    align-items: center;
}

.special-price-block__list-item {
    display: flex;
}

.special-price-block__list-item__image {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}