.top-choice{
  padding: 60px 0px 130px;
}

.name{
  padding: 0px 15px;
  margin-top: 110px;
  text-align: center;
}

.name__subtitle{
  margin-top: 15px;
}
.name__wish{
  margin-top: 15px;
}

.food__photo-img img{
  object-fit: cover; 
  width: 70%;
}
@media (max-width: 1000px){
  .food__photo-img{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
  }
}
@media (min-width: 1000px){
  .food__photo-img{
    display: flex;
  }
}
.food__photo-img{
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex: 1;
}




